# Arquivos sensíveis
.env
*.log
logs/

# Django
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
staticfiles/
media/

# Banco de dados
db.sqlite3
*.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db